[Unit]
Description=POI stack nightly integration test job

[Service]
Type=oneshot
WorkingDirectory=__PROJECT_ROOT__
ExecStart=__PROJECT_ROOT__/scripts/test-nightly.sh
