[Unit]
Description=POI API service
BindsTo=poi-pod.service
After=poi-pod.service poi-db.service
Requires=poi-db.service

[Container]
ContainerName=poi-api
Image=localhost/poi-api:latest
Pod=poi.pod
EnvironmentFile=__PROJECT_ROOT__/.runtime/poi.env

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=poi-pod.service
