[Unit]
Description=POI MariaDB service
After=network-online.target

[Container]
ContainerName=poi-db
Image=docker.io/library/mariadb:11
Network=poi.network
Volume=poi-db-data:/var/lib/mysql:Z
EnvironmentFile=__PROJECT_ROOT__/.runtime/poi.env

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
